{% if site.data.settings.projects.enable == true %}
<!-- begin section projects -->
<section class="section section-projects">
    <div class="row">
      <div class="col col-12">

        <div class="section__info">
          {% if site.data.settings.projects.projects_title %}
            <h2 class="section__title">{{ site.data.settings.projects.projects_title }}</h2>
          {% endif %}
          {% if site.data.settings.projects.projects_description %}
            <p class="section__description">{{ site.data.settings.projects.projects_description }}</p>
          {% endif %}
        </div>

        <div class="row">
          {% assign sorted = site.projects | sort: 'date' | reverse %}
          {% for project in sorted limit:4 %}
          <article class="project col col-6 col-t-12">
            <div class="project__content">

              <div class="project__head">
                {% if project.image and project.video_embed %}
                <div class="video-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                    <polygon points="40,30 65,50 40,70"></polygon>
                  </svg>
                </div>
                {% endif %}
                {% if project.image %}
                <a href="{{ project.url | relative_url }}" class="project__image">
                  <img class="lazy" data-src="{{ project.image | relative_url }}" alt="{{ project.title }}">
                </a>
                {% endif %}
              </div>

              <div class="project__info">
                <h2 class="project__title">
                  <a href="{{ project.url | relative_url }}">{{ project.title }}</a>
                </h2>
                <div class="project__meta">
                  {% if project.subtitle %}
                    <div class="project__subtitle">{{ project.subtitle }}</div><span>•</span>
                  {% endif %}
                  <time datetime="{{ project.date | date_to_xmlschema }}">{{ project.date | date_to_string }}</time>
                </div>
              </div>

            </div>
          </article>
          {% endfor %}
        </div>

      </div>
    </div>

  <div class="section__navigation">
    <a href="{{ '/projects' | relative_url }}" class="button section__button">All Projects <i class="fa-solid fa-arrow-up"></i></a>
  </div>
</section>
<!-- end section projects -->
{% endif %}