{% if site.data.settings.mailchimp.enable == true %}
<!-- begin section subscribe -->
<section class="section-subscribe">
  <div class="section-subscribe__inner">

    <div class="section-subscribe__content">
    {% if site.data.settings.mailchimp.mailchimp_title %}
      <h3 class="section-subscribe__title">{{ site.data.settings.mailchimp.mailchimp_title }}</h3>
    {% endif %}
    {% if site.data.settings.mailchimp.mailchimp_description %}
      <p class="section-subscribe__description">{{ site.data.settings.mailchimp.mailchimp_description }}</p>
    {% endif %}
    </div>

    <form class="section-subscribe__form validate"
      action="{% if site.data.settings.mailchimp.mailchimp_identifier %}//{{ site.data.settings.mailchimp.mailchimp_identifier }}{% else %}#{% endif %}"
      method="POST" id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
      <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
      <input class="section-subscribe__email required email" id="mce-EMAIL" type="text" name="EMAIL" placeholder="{% if site.data.settings.mailchimp.mailchimp_input_text %}{{ site.data.settings.mailchimp.mailchimp_input_text }}{% else %}Email address{% endif %}">
      <button class="button button--accent" id="membedded-subscribe" type="submit" name="subscribe">{{ site.data.settings.mailchimp.mailchimp_button_text }}</button>
    </form>

    <svg class="section-subscribe__bg" xmlns="http://www.w3.org/2000/svg" width="802" height="80" fill="none"><path fill="var(--background-alt-color-2)" stroke="var(--border-color)" d="M314.701 10.517C156.465-14.43 39.635 35.39 1 63.42v86.313h800V10.517c-10.079 0-54.89-15.069-164.669-7.284-137.978 9.785-123.835 38.468-321.63 7.284Z"/></svg>

  </div>
</section>
<!-- end section subscribe -->
{% endif %}