/* Contact */
.form__group {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  .form__input {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid transparent;
    outline: 0;
    color: var(--heading-font-color);
    background: var(--background-alt-color);
    resize: vertical;
    transition: $global-transition;

    &::placeholder {
      color: var(--text-alt-color);
    }

    &:hover {
      border-color: var(--border-color);
    }

    &:focus {
      border-color: var(--brand-color);
      background: var(--background-color);
    }
  }
}